*{
    margin: 0;
    padding: 0;
    font-family:"gotham-regular";
}
body{margin: 0;padding: 0;}

@font-face{
    font-family:'gotham-bold';
    src:url('./../fonts/gothambold1/gothambold1.woff');
}

@font-face{
    font-family:'gotham-regular';
    src: url('./../fonts/GothamRegular/GothamRegular.otf');
}
html,body
{
    overflow-x: hidden; 
}
header{
	padding-top: 70px;
	background: #012e3c;
	padding-bottom: 30px;
}
header a{
	text-decoration: none;
	color: #fff;
}
header a:hover{
	text-decoration: none;
	color: #fff;
}
header h2{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    font-family: 'gotham-bold';
}
h3{
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    font-family: 'gotham-bold', sans-serif;
}
header p{
	color: #fff;
    font-family: 'gotham-regular', sans-serif;
    font-size:17px;
    margin-top: 5px;
    margin-bottom: 60px;
}

ul {
    list-style-type:none;
}

li .center{
    text-align:center;
}

/* eader end*/
/*start one section*/
#sone{
	background-color:#fff;
	padding-bottom: 50px;
	    overflow: hidden;
	    padding-top: 50px;
}
#sone h2{
	margin-top: 80px;
	color: #000;
	font-size: 40px;
	font-weight: 600; 
	text-align: center;
	font-family: 'gotham-regular', sans-serif;	
}
.simpborder{
	border-bottom: 1px dotted #929292;
    width: 30%;
    text-align: center;
    margin: 0 auto;

}
.nocolor{
    text-decoration: none;
    color: inherit;
}

.caption{
    font-size: 10pt
}

#sone p{
	color: #000;
	text-align: center;
}
.icon-section{
	text-align: center;
}
.mosts{
	margin-top: 30px;
}
.card-deck{
    margin: 10px;
}

.mosts p{
	width: 90%;
	margin-left: 10%;
	color: #fff;
	font-size: 17px;
	font-weight: 300; 
	text-align: left;
	font-family: 'Montserrat', sans-serif;	
}
.form-left {
    margin-left: 75px;
    margin-right: -30px;
}
.form-left input{
    border-radius: 5px 0px 0px 5px ;
}
.form-right input{
	border-radius: 0px 0px 5px 0px !important;
}
.card-container{
    margin: 10px;
}
.form-right {
	    margin-right: -90px;
}
.s-button button{
background: #012e3c;
border-color:#012e3c;
}
.s-button button:hover{
background: #e2a700;
border-color:#e2a700;
}
/*extra code start*/

#sone h3{
	margin-top: 30px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.simpborder1{
	border-bottom: 1px dotted #929292;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;	
}
.m-top-15{
	margin-top: 15px;
}

/*extra code end*/



/*responsive*/
@media screen and (max-width: 800px) {
	#footer{
		text-align: center;
	}
	#footer h3{
		margin-top: 30px;
	}
	.bottombg1{
		margin: 0 10px;
	}
	.bottombg2{
		margin: 20px 10px;
	}
	.bottombg3{
		margin: 0 10px;
	}
	#header{
		height: 70vh;
	}
	#header h2{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;

	}
	.twoextra img{
	     margin-left: 0px;
	}
	#header h3{
	    font-size: 15px;
	    font-weight: 400;
	    line-height: 20px;

	}
	.mobile1 img{
		margin-top: 20px;
		margin-bottom: 15px;
	}
	.mobile1 .img1j{
    	width: 80%;
	}
	.m-top-15{
		margin-top: 5px;
	}
}


/* Dropdown Button */
.dropbtn {
  background-color: #012e3c;
  color: white;
  padding: 16px;
  font-size: 24px;
  font-family: 'Montserrat';
  border: none;
}

.text{
	font-family: 'Montserrat';
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Montserrat';
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Montserrat';
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

footer {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding: 40px;
}
