@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@media only screen and (max-width: 575px) {
  h1 {
    font-size: 1.6rem !important;
  }
  p {
    font-size: 1rem !important;
  }
  #first {
    padding-top: 15%;
  }
  .col-sm-6:not(#filter),
  .col-sm,
  #company-card.col-sm-4,
  #card > .col-sm-8,
  #searchRow:first-child,
  #searchBar {
    text-align: center;
    padding-left: 10% !important;
    padding-right: 10% !important;
    width: 100% !important;
  }
  #card {
    width: 80% !important;
    margin-top: 5% !important;
  }
  .container {
    width: 60vw !important;
    left: -15% !important;
  }
  .col-sm-2 {
    padding-top: 2% !important;
    margin-left: 10% !important;
  }
  #searchBar {
    width: 100% !important;
  }
  .mr-auto,
  .form-control {
    height: 5vh !important;
    font-size: 0.7rem !important;
  }
  .btn > .fa {
    font-size: 0.7rem !important;
  }
  .button {
    font-size: 1rem;
  }
  img:not(#logo, #companyLogo) {
    width: 100%;
  }
  #logo {
    width: 33%;
    padding-bottom: 5%;
    padding-top: 15%;
  }
  a {
    font-size: 0.9rem !important;
  }
  .socialbtns > .fa {
    font-size: 1.5rem !important;
  }
  #searchRow:first-child {
    padding-top: 15%;
  }

  #filter > p,
  li > p {
    font-size: 0.6rem !important;
  }
  #first.col-sm-6 {
    padding-top: 15% !important;
  }
  #contact {
    text-align: center;
  }
  #filter {
    padding-left: 10% !important;
  }
  .word {
    padding-top: 10% !important;
  }
  .word span {
    font-size: 3.5rem !important;
  }
  #leaf {
    margin-top: 20% !important;
  }
}

@media only screen and (min-width: 575px) {
  h1 {
    font-size: 2.2rem !important;
  }
  p {
    font-size: 1.2rem !important;
  }
  .container-fluid:first-child > .row:first-child > .col-sm-6:first-child > h1 {
    font-size: 3rem !important;
  }
  .container-fluid:first-child > .row:first-child > .col-sm-6 > img {
    width: 100%;
  }
  a {
    font-size: 1rem !important;
  }
  .fa {
    font-size: 1.5rem !important;
  }

  #logo {
    width: 70%;
  }
  .form-control {
    height: 7vh !important;
  }
  h2 {
    font-size: 1.1rem !important;
  }
  .col-sm-8 > p {
    font-size: 0.7rem !important;
  }
  #filter > p {
    font-size: 1rem !important;
  }
  label {
    font-size: 1rem !important;
  }
}

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 2.79rem !important;
  }
  p {
    font-size: 1.5rem !important;
  }
  .container-fluid:first-child > .row:first-child > .col-sm-6:first-child > h1 {
    font-size: 3.9rem !important;
  }
  .nav-link {
    font-size: 1.05rem !important;
  }
  #logo {
    width: 50%;
  }
  .fade-in-section > a {
    font-size: 1.5rem !important;
  }
  .socialbtns > .fa {
    font-size: 2rem !important;
  }
  #companyLogo {
    width: 75% !important;
    margin-left: 10% !important;
  }
  .col-sm-8 > p {
    font-size: 1rem !important;
  }
  h2 {
    font-size: 2rem !important;
  }
  #filter > p {
    font-size: 1.5rem !important;
  }
  label {
    font-size: 1.5rem !important;
  }
}

@media only screen and (min-width: 1600px) {
  h1 {
    font-size: 4rem !important;
  }
  p {
    font-size: 2rem !important;
  }
  .container-fluid:first-child > .row:first-child > .col-sm-6:first-child > h1 {
    font-size: 5rem !important;
  }
  #logo {
    width: 50%;
  }
  .fade-in-section > a {
    font-size: 2rem !important;
  }
  .socialbtns > .fa {
    font-size: 3rem !important;
  }
  .button > span {
    font-size: 1.5rem !important;
  }
  .button2 > span {
    font-size: 1.5rem !important;
  }
  .nav-link {
    font-size: 1.3rem !important;
  }
  .form-control {
    height: 7vh !important;
  }
  #companyLogo {
    width: 75% !important;
    margin-left: 10% !important;
  }
  .col-sm-8 > p {
    font-size: 1.5rem !important;
  }
  h2 {
    font-size: 2.6rem !important;
  }
  #filter > p {
    font-size: 2rem !important;
  }
  label {
    font-size: 2rem !important;
  }
}

h1,
nav,
body,
p {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url("logo.svg");
}

label {
  font-family: "Montserrat", sans-serif;
}
body {
  padding-top: 15% !important;
}

.navbar1:hover {
  background-color: #f6fdf6 !important;
}
a.nav-link:hover {
  text-decoration: underline !important;
}

.col-sm-8,
.col-sm-4,
.col-sm-6:not(#filter),
#company-card {
  margin: auto;
  width: 50%;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
}

#filter {
  padding-top: 5%;
  padding-bottom: 5%;
}

h1 {
  font-size: 3rem;
  font-weight: "normal" !important;
  padding-bottom: 5%;
  z-index: 1;
}

p {
  font-size: 2rem;
}

a.nav-link {
  color: black !important;
  font-size: 1.2em;
}

#searchBar {
  width: 50% !important;
  position: relative;
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.container,
.container-fluid {
  width: 100vw;
  margin-left: -50vw;
  z-index: -1;
}

.col-sm-6 {
  display: inline-block;
}

.container-fluid:nth-child(2n) {
  background-color: #f6fdf6;
}

.col-sm-6:nth-child(2n) {
  padding-right: 10%;
}

.col-sm-6:nth-child(2n + 1) {
  padding-left: 10%;
}

#first {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

span {
  color: black;
  font-weight: bold;
}

a {
  font-size: 1.2rem;
}
.button {
  background-color: white !important;
  border-color: #5ecb6b !important;
  position: relative;
  padding: 3.5% !important;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  border-width: medium !important;
  border-radius: 30px !important;
}
.button:hover {
  background-color: #5ecb6b !important;
}

.button2 {
  background-color: #5ecb6b !important;
  border-color: #5ecb6b !important;
  position: relative;
  padding: 3.5% !important;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  border-width: medium !important;
  border-radius: 30px !important;
  z-index: 1 !important;
}
.button2:hover {
  background-color: white !important;
}

.change-color-1 {
  animation-name: changeColor;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.change-color-2 {
  animation-name: changeColor;
  animation-iteration-count: 1;
  animation-delay: 3.5s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes changeColor {
  0% {
    color: black;
  }
  100% {
    color: #5ecb6b;
  }
}

img:first-child {
  position: relative;
  width: 90%;
}

.circlelg {
  position: absolute;
  left: 20%;
  bottom: 20%;
  animation: scaleIn ease-in 3s infinite;
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(1.5, 1.5);
    opacity: 0.19;
  }
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7 !important;
}

/* Set a specific color for each brand */

.socialbtns .fa {
  padding: 10%;
  padding-top: 0px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  color: black;
  text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000,
    -1px -1px 0px #000;
  -webkit-text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000,
    -1px -1px 0px #000;
  -moz-text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000,
    -1px -1px 0px #000;
  -o-text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000,
    -1px -1px 0px #000;
  transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -webkit-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
}

.socialbtns .fa:hover {
  color: #000;
  text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff,
    -1px -1px 0px #fff;
  -webkit-text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff,
    -1px -1px 0px #fff;
  -moz-text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff,
    -1px -1px 0px #fff;
  -o-text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff,
    -1px -1px 0px #fff;
  transition: all ease 0.5s;
  -moz-transition: all ease-in 0.5s;
  -webkit-transition: all ease-in 0.5s;
  -o-transition: all ease-in 0.5s;
}

.socialbtns {
  display: inline;
}
.col-sm:nth-child(1) {
  padding-left: 10% !important;
}

.col-sm:nth-child(2) {
  padding-left: 10% !important;
}

.col-sm:nth-child(3) {
  padding-right: 10% !important;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(15vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

#col {
  padding-left: 10%;
  padding-top: 1%;
}

.mr-auto,
#searchBar > .form-inline > .form-control {
  border: 2.5px solid !important;
  height: auto;
  font-family: "Montserrat", sans-serif;
}

#searchBar > .form-inline > .form-control {
  border-radius: 10px 0px 0px 10px !important;
  color: black !important;
}
.mr-auto {
  border-radius: 0px 10px 10px 0px !important;
  background: #5ecb6b !important;
}

.filterBtn {
  background: #5ecb6b !important;
  height: 7vh !important;
  border: 3px solid #000 !important;
  color: #000 !important;
  font-family: "Montserrat", sans-serif;
}

.col-sm-2 {
  padding-left: 0px !important;
  padding-top: 2% !important;
}

.container {
  background: #f6fdf6;
  margin-top: 3%;
  margin-bottom: 3%;
  position: relative !important;
  left: -10% !important;
  width: 60vw !important;
  display: block;
}

#filter > p,
li > p {
  font-size: 0.8rem;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #5ecb6b transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
}

#company-card {
  background-color: #f6fdf6 !important;
  height: 100% !important;
}

#card {
  margin-left: 10%;
  margin-right: 20%;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.151);
  height: auto !important;
  padding-top: 5%;
  padding-bottom: 5%;
}

a:hover {
  text-decoration: none !important;
}

#companyLogo {
  width: 60%;
  margin-left: 10%;
}

.col-sm-8 > p {
  font-size: 0.7rem;
}

.form-group > .form-control {
  border: none;
  border-bottom: 1px dotted #000;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10%;
}

.form-group > .form-control::placeholder {
  font-family: "Montserrat", sans-serif;
}

#contact {
  padding-top: 10%;
  animation: fadeInOpacity 1s ease-in;
}

#filterRow {
  background-color: #f6fdf6;
  margin-right: 20%;
  margin-left: 10%;
}

input[type="checkbox"] {
  position: relative;
  width: 2vw;
  height: 2vh;
}

.col-sm-12 {
  padding-bottom: 0%;
  animation: fadeInOpacity 2s ease-in;
  text-align: center;
}

.word span {
  font-family: "Montserrat", sans-serif;
  font-size: 7rem;
  display: inline-block;
  user-select: none;
  line-height: 0.8;
}

.word {
  padding-top: 10%;
  padding-bottom: 3%;
  perspective: 1000px;
  perspective-origin: 200px 40px;
  display: inline-block;
}

@keyframes balance {
  0%,
  100% {
    transform: rotate(0deg);
  }

  15%,
  60% {
    transform: rotate(45deg);
  }
}

@keyframes toplong {
  0%,
  100% {
    transform: translateY(0vh);
  }
  20% {
    transform: translateY(-10vh) scaleX(1.3);
  }
}

@keyframes ballet {
  0%,
  20% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotate {
  20%,
  80% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
@keyframes underlining {
  0% {
    text-decoration: none;
  }

  100% {
    text-decoration: underline;
  }
}
.word span:nth-child(1).active {
  animation: toplong 1.5s ease-out;
  transform-origin: 0% 100% 0px;
}
.word span:nth-child(2).active {
  animation: ballet 1.5s ease-in;
}
.word span:nth-child(3).active {
  animation: rotate 1.5s ease-out;
  transform-origin: bottom center;
}

.word span:nth-child(4).active {
  animation: balance 1.5s ease-out;
}
.word span:nth-child(5).active {
  animation: underlining 2s ease-in;
}

#about {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}

h7 {
  display: block;
  text-align: center;
  padding-bottom: 20%;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #5ecb6b;
  opacity: 0;
  animation-name: appear;
  animation-timing-function: ease;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  padding-bottom: 2%;
}

h3:first-child(1) {
  animation-delay: 3s;
  transform-origin: bottom;
}
h3:nth-child(2) {
  animation-delay: 3.5s;
}
h3:nth-child(3) {
  animation-delay: 4.5s;
}
h3:nth-child(4) {
  animation-delay: 5.5s;
}
h3:nth-child(5) {
  animation-delay: 6.5s;
}

@keyframes appear {
  0% {
    opacity: 0;
    color: #5ecb6b;
    transform: translatex(20vh);
  }
  10%,
  100% {
    opacity: 1;
  }
  70%,
  100% {
    color: black;
  }
}

#woman {
  width: 90% !important;
  padding-left: 10% !important;
}

#leaf {
  width: 10% !important;
  animation: balance 2s infinite;
}
